<section>
  <div class="card ml-5 mt-5 mr-5" style="width: 75rem;">
    <div class="card-body">
      <div class="header" style=" background-color:rgba(10, 114, 212, 0.829); width:72rem;height:5rem; border-radius:10px;  display: flex;" >
      <h5 style="text-align: center;padding-top:25px; padding-left: 550px;"  padding-left: >PAY</h5>
      </div>
      <br />
      <h6 class="card-subtitle mb-2 text-muted">TOTAL ITEM : 1</h6>
      <br />
      <h6 class="card-text">TOTAL PRICE :{{total}}</h6>
      <br />
      <h6 class="payement-option">PAYMENT OPTION :</h6>
      <div class="custom-control custom-radio">
       <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
       <label class="custom-control-label" for="customRadio1">Cash on delivery</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
        <label class="custom-control-label" for="customRadio2">Net Banking</label>
      </div>

      <br />
      <div class="row">
      <div class="  col-md-6">
      <a href="/carts" class="btn btn-primary">Back</a>
      </div>

      <div class=" col-md-6 mb-2" >
      <a href="#" class="btn btn-success " style=" float: right">Proceed</a>
      </div>
    </div>
    </div>
  </div>
</section>